# Insira a senha do seu usuário (padrão=root)
MYSQL_ROOT_PASSWORD=
# Insira o nome do banco de dados (ex:app_db)
MYSQL_DATABASE=
# Insira o nome de usuário do banco(ex: app_user)
MYSQL_USER=
# Insira a senha do usuário(ex: app_password)
MYSQL_PASSWORD=
