# Insira o nome do banco de dados (ex:app_db)
POSTGRES_DB=studentCoin123
# Insira o nome de usuário do banco(ex: app_user)
POSTGRES_USER=studentCoin123
# Insira a senha do usuário(ex: app_password)
POSTGRES_PASSWORD=studentCoin123
